<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico"> <link href="/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/css/animateyjd2.css" rel="stylesheet">
    <link href="/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>月销售额</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="budget.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="budget.html#">2019年</a>
                            </li>
                            <li><a href="budget.html#">2018年</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-bar-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>月销售额</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="budget.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="budget.html#">2019年</a>
                            </li>
                            <li><a href="budget.html#">2018年</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>市场份额</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="budget.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="budget.html#">2019年</a>
                            </li>
                            <li><a href="budget.html#">2018年</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-pie-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>销售量</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="budget.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="budget.html#">2019年</a>
                            </li>
                            <li><a href="budget.html#">2018年</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart-moving"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script src="/js/jquery.minyjd2.js?v=2.1.4"></script>
<script src="/js/bootstrap.minyjd2.js?v=3.3.6"></script>
<script src="/js/plugins/flot/jquery.flot.js"></script>
<script src="/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/js/plugins/flot/jquery.flot.pie.js"></script>
<script src="/js/content.min.js?v=1.0.0"></script>
<script>
    $(function() {
        var e={
            series:{
                bars: {
                    show:!0,barWidth:.12,fill:!0,fillColor:{
                        colors:[{opacity:.4},{opacity:.4}]
                    }
                }
                },
                xaxis:{tickDecimals:0},
                colors:["#1ab394"],
                grid:{color:"#999999",hoverable:!0,clickable:!0,tickColor:"#D4D4D4",borderWidth:0},
                legend:{show:!1},tooltip:!0,tooltipOpts:{content:"x: %月, y: %yk"}},
            o={label:"bar",data:[
                [1,34],[2,25],[3,19],[4,34],[5,32],[6,4],[7,32],[8,23],[9,21],[10,12],[11,78],[12,18]
                ]};
        $.plot($("#flot-bar-chart"),[o],e)
    })
</script>

<script>
    $(function() {
        var e={series:{lines:{show:!0,lineWidth:2,fill:!0,fillColor:{colors:[{opacity:0},{opacity:0}]}}},
                xaxis:{tickDecimals:0},
                colors:["#1ab394"],
                grid:{color:"#999999",hoverable:!0,clickable:!0,tickColor:"#D4D4D4",borderWidth:0},
                legend:{show:!1},tooltip:!0,
                tooltipOpts:{content:"x: %x月, y: %yk"}},
            o={label:"bar",data:[
                [1,34],[2,25],[3,19],[4,34],[5,32],[6,4],[7,32],[8,23],[9,21],[10,12],[11,78],[12,18]
                ]};
        $.plot($("#flot-line-chart"),[o],e)
    })
</script>

<script>
    $(function() {
        {
            var e=[{label:"防盗门",data:33,color:"#d3d3d3"},{label:"衣柜",data:11,color:"#bababa"},
                {label:"橱柜",data:35,color:"#79d2c0"},
                {label:"床",data:21,color:"#1ab394"}];
            $.plot($("#flot-pie-chart"),e,{series:{pie:{show:!0}},
                grid:{hoverable:!0},
                tooltip:!0,
                tooltipOpts:{content:"%p.0%, %s",shifts:{x:20,y:0},defaultTheme:!1}})
        }
    })
</script>

<script>
    $(function() {
        function e() {
            for(i.length&&(i=i.slice(1));i.length<t;) {
                var e=i.length?i[i.length-1]:50,o=e+10*Math.random()-5;
                i.push(0>o?0:o>100?100:o)
            }
            for(var l=[],a=0;a<i.length;++a)
                l.push([a,i[a]]);
            return l
        }
        var o=$("#flot-line-chart-moving"),
            t=o.outerWidth()/2||300,i=[];series=[{data:e(),lines:{fill:!0}}];
        var l=$.plot(o,series,{
            grid:{color:"#999999",
                tickColor:"#D4D4D4",
                borderWidth:0,
                minBorderMargin:20,
                labelMargin:10,
                backgroundColor:{colors:["#ffffff","#ffffff"]},
                margin:{top:8,bottom:20,left:20},
                markings:function(e)
                {
                    for(var o=[],t=e.xaxis,i=Math.floor(t.min);i<t.max;i+=2*t.tickSize)
                        o.push({xaxis:{from:i,to:i+t.tickSize},color:"#fff"});
                    return o
                }
            },
            colors:["#1ab394"],
            xaxis:{tickFormatter:function(){return""}},
            yaxis:{min:0,max:110},legend:{show:!0}});
        setInterval(function(){series[0].data=e(),l.setData(series),l.draw()},40)
    })
</script>

<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
</body>
<!-- Mirrored from www.zi-han.net/theme/hplus/graph_flot.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:19:02 GMT -->
</html>